@charset 'UTF-8';
@import 'bootstrap.css';
@font-face {
    font-family: "myFont";
    src:url(Roboto-Black.ttf);
} /* bisa untuk memasukkan font sendiri*/
/* at-rule mencacah file css */


.name {
    font-family: myFont;
    text-align: center; 
    color:#333333;
    font-size: 34pt;
}

.occ {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    color: #555555;
    font-size: 20pt;
}



.picture {
    
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
}

body {
    background-image: url(../Amirul_Adlil_Hakim-personal-site-task/repeated-square.png);
}

.content {
    background-color: #cccccc;
    padding-top: 100px;
    padding-bottom: 40px;
}

.social {
    background-color: #dddddd;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.desc {
    background-color: #eeeeee;
    text-align: justify;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    padding: 40px 10px 40px 10px;
}

p {
    text-indent: 1cm;
}

/* .container {
    margin-top: 50px;
} */

